body {
    background-color: antiquewhite;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: bisque;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 4fr auto 1fr;
}

.button {
    grid-column: 3;
    text-align: center;
    background-color: coral;
}